/*
=====================================================================
*   Ceevee v1.0 Layout Stylesheet
*   url: styleshout.com
*   03-18-2014
=====================================================================

   TOC:
   a. General Styles
   b. Header Styles
   c. About Section
   d. Resume Section
   e. Portfolio Section
   f. Call To Action Section
   g. Testimonials Section
   h. Contact Section
   i. Footer

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

body { background: #eeeeee; }


/* ------------------------------------------------------------------ */
/* c. Home Section
/* ------------------------------------------------------------------ */

#home {
   align-items: center;
   background: #161415 url(../images/about-us_head.jpg) no-repeat;
   background-position: 50% 50%;
   background-size: cover;
   display: flex;
   height: 30vh;
   justify-content: center;
}

/* vertically center banner section */
#home:before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   height: 100%;
}

#home .banner-text h1 {
   font: 10vmin 'Audiowide', cursive;
   color: rgb(255, 255, 255);
   letter-spacing: -2px;
   margin: 0 auto 18px auto;
   text-shadow: 0px 1px 3px rgba(255, 255, 255, 0);
   text-align: center;
}

/* ------------------------------------------------------------------ */
/* i. About us
/* ------------------------------------------------------------------ */
#about{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 500px;
 }
 #about h1 {
    font: 50px 'Righteous', cursive;
    color: #000000;
     word-spacing: -0.15em;
    font-weight: 300;
    margin-bottom: 40px;
 }
 #about h2 {
    font: 30px 'Robot', sans-serif;
    color: rgba(0,0,0,.6);
     word-spacing: -0.15em;
    font-weight: 300;
 
 }
#philosophy{
   margin-bottom: 80px;
}
#team{
   margin-bottom: 80px; 
}
 #team a {
   color: #3498db;
   position: relative;
   display: inline-block;
   transition: .3s;
 }
 #team a::after {
   position: absolute;
   bottom: 0;
   left: 0;
   content: '';
   width: 0;
   height: 1px;
   background-color: #2ecc71;
   transition: .3s;
 }
 #team a:hover::after {
   width: 100%;
 }
 


 #member{
   left: 25%;
   width: 100%;
   height: 400px;
   margin: 0 auto;
   margin-bottom: 80px; 
   text-align : center 
}

#member h2{
   font: 30px 'Montserrat', sans-serif;
   font-weight: 1000;
   color: rgb(0, 0, 0);
}
#member h3{
   font: 15px 'Robot', sans-serif;
   color: rgb(0, 0, 0);
}
 
/*Profile Card 1*/
.profile-card-1 {
   position: relative;
   float: left;
   margin: 20px 20px;
   background: #fff;
   border-radius: 5px;
   box-shadow: 0 2px 5px #ccc;
 overflow: hidden;
 width: 250px;
 text-align: center;
 height:400px;
 border:none;
}

.profile-card-1 .card-content {
 width: 100%;
 padding: 15px 25px;
 position: absolute;
 left: 0;
}
.profile-card-1 .profile {
 border-radius: 50%;
 position: absolute;
 bottom: 65%;
 left: 50%;
 max-width: 100px;
 opacity: 1;
 border: 2px solid rgba(255, 255, 255, 1);
 -webkit-transform: translate(-50%, 0%);
 transform: translate(-50%, 0%);
}
.profile-card-1 h2 {
 margin-bottom: 0px;
}
.profile-card-1 h2 small {
 display: block;
}
.profile-card-1 i {
 display: inline-block;
   color: #000000;
   text-align: center;
   border: 1px solid rgb(0, 0, 0);
   width: 30px;
   height: 30px;
   line-height: 30px;
   border-radius: 50%;
   margin:0 5px;
}
.profile-card-1 .icon-block{
   float:left;
   width:100%;
   margin-top:40%;
}
.profile-card-1 .icon-block a{
   text-decoration:none;
}
.profile-card-1 i:hover {
 background-color:rgb(0, 0, 0);
 color:#ffffff;
 text-decoration:none;
}

#prize a{
   font: 30px 'Robot', sans-serif;
   color: rgba(0,0,0,.6);
   margin-top: 0px; 
}
#prize h1{
   font: 50px 'Robot', sans-serif;
   color: rgb(0, 0, 0);
}
#prize ul {
   list-style: square;     /* アイコンの種類指定 */
   font-size: 50px;
   color: rgb(0, 0, 0);
}

/* ------------------------------------------------------------------ */
/* i. side ber
/* ------------------------------------------------------------------ */
/* 追従のサイドメニュー */
.side-menu {
    position: fixed;
    top: 20vh;
      right:0;
      z-index:1;
    font-size:0px;
  }
  
  .side-menu li a{
      color:#ffffff;
    font-size:1rem;
      padding:20px 24px;
      background-color: rgb(0, 0, 0);
      -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
  }
  
  .side-menu  li a:hover {
      background:#ffffff;
      color:rgb(0, 0, 0);
  }
  
  /*@media only screen and (max-width: 767px){
      .side-menu li a {
      padding:10px 17px;
           font-size: 0.875em;
          }*/
